  @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Source+Code+Pro:wght@600&display=swap');

  body{
    overflow-x:hidden;
    margin-top: 100px;
    background: #141414;
    color: #F9F9F9;
    font-family: 'Source Code Pro', monospace;
  }
html {
  height:100%;
}
 h1 {
    color: #C9DAF8;
  }
  * {
    text-align: center;
  }

  .h2 {
    display:inline-block;
    font-size: 28px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#8B00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite;
  }

  @-webkit-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes rainbowanim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }


a {
  display: inline-block;
  position: relative;
  text-decoration:none;
  color: #0087ca;
  font-size:20px !important;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

input {
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:20px;
  border-radius:5px;
  outline:none;
  background:#141414;
  color:white;
}
button {
  padding:14px;
  background:#141414;
  color:white;
  border:none;
  border-radius:5px;
  
}

.topnav{
  position:relative;
  margin-top:-10vh;
  padding-bottom:10vh;
}

.back {
  color:dodgerblue;float:left;positon:relative;margin-top:-10vh;font-size:15px;
}
h2,i{cursor:pointer !important;display:inline-block !important;}

i {
  font-size:35px;
}
#counter {
  text-align:left;
  display:block;
  position:absolute;
  bottom:1vh;
}

.secret {
  color:inherit;
  text-decoration:none !important;
}

#please {
  display:none;
}

.dropbtn {
  background-color: #141414;
  color: dodgerblue;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left:-2vw;
  background-color: #232d3e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #232d31;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #141414;}
